
/* Common styles */

. {
    margin: 0;
    padding: 0;
}

.body {
    background: url(#{resource['img/background.png']});
}

.body h3 {
    text-decoration: underline;
    color: brown;
    text-align: center;
    margin-top: 2%;
}

.clickButton {
    text-align: center;
}
